.container1{
    width: 150vh;
    height: 130vb;
    margin: auto;
    padding: 30px;
    background: linear-gradient(rgb(184, 75, 184),white);
}
.container1 .container2{
 background: linear-gradient(rgb(104, 104, 189),white);
    width: 85%;
    height: 98%;
    margin: auto; 
}
 .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: aqua;
}
.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;  
 
}
  /* .box{
    width: 270px;
    height: 200px;
    /* background-color: rgb(149, 174, 221); */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px; 
    background-color: black;
  
 }   */
 .text {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  margin-left: 200px;
  margin-top: -150px;
  color: rgb(139, 84, 167);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}
 span{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  margin-top: 90px;
  margin-right: 20px;
  color: black;
}
/* .box{
    width: 200px;
    height: 130px;
    /* background-color: rgb(149, 174, 221); */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px; 
    background-color: rgb(177, 76, 76);

    display: grid;
 }  */ 
 
  .box{
    display: grid;
    grid-template-rows: (1fr,3fr);
    grid-template-rows: 200px 200px;
    grid-gap: 1.5em;
    margin-left: 100px;
    width: 300px;
    height: 130px;
    margin-top: 50px;
    margin-left: 30px;
    
 }
 .box .card-box{
    width: 250px;
    height: 200px;
    background-color: rgb(77, 62, 160);
    margin-right: 30px;
    
 }